:root {
    --color-01: #F6FAF4;
    --color-02: #D7ECD1;
    --color-03: #6B906F;
    --color-04: #363F33;
}
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
* {
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}